---
import { getCollection } from "astro:content";

import DefaultLayout from "../../layouts/DefaultLayout.astro";
import BlogListItem from "../../components/blog/BlogListItem.astro";
import Separator from "../../components/shared/Separator.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

const posts  =(await getCollection("blog")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main>
        <section>
            <ul role="list" class="flex-col flex gap-2">
                {posts.map((post, index) =>
                    <>
                        <BlogListItem
                          date={post.data.pubDate}
                          title={post.data.title}
                          image={post.data.heroImage}
                          excerpt={post.data.excerpt}
                          slug={post.slug}
                        />

                        {index !== posts.length - 1 && (
                            <Separator />
                        )}
                    </>
                )}
            </ul>
        </section>
    </main>
</DefaultLayout>
