---
import FormattedDate from "../shared/FormattedDate.astro";
export interface Props {
    date: Date;
    image: string;
    title: string;
    slug: string;
    featured?: boolean;
}

const { date, image, title, slug, featured = false } = Astro.props;
---

<li class:list={["relative list-none", featured ? "mb-8" : ""]}>
    <a href={`/playground/${slug}`}>
        <div
            class:list={[
                "group aspect-h-7 aspect-w-10 block w-full overflow-hidden rounded-lg bg-gray-100",
                "focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100",
                featured ? "aspect-h-4" : "",
            ]}
        >
            <img
                class:list={[
                    featured ? "" : "h-[150px]"
                ]}
                src={image}
                alt={title}
                width="500"
                height="500"
                class="pointer-events-none object-cover w-full"
                transition:name={`experiment-image-${slug}`}
                transition:animate="initial"
            />
        </div>

        <div class={featured ? "text-center text-md" : "text-sm"}>
            <p
                class="pointer-events-none mb-0 mt-2 block truncate font-medium text-gray-900"
                transition:name={`blog-title-${slug}`}
                transition:animate="initial"
            >
                {title}
            </p>
            <p
                class="pointer-events-none block font-medium text-gray-500 m-0"
                transition:name={`blog-date-${slug}`}
                transition:animate="initial"
            >
                <FormattedDate date={date} />
            </p>
        </div>
    </a>
</li>
