---
import FormattedDate from "../shared/FormattedDate.astro";
export interface Props {
  image: string;
  title: string;
  slug: string;
  date: Date;
}

const { image, title, date, slug } = Astro.props;
---

<div>
  <div>
    <img class="h-32 w-full object-cover lg:h-96 rounded-none"
         src={image}
         alt=""
         transition:name={`blog-image-${slug}`}"
    >
  </div>
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8 pt-5">
      <div class="min-w-0 flex-1 text-center">
        <h1 class="truncate text-4xl font-bold text-gray-900" transition:name={`blog-title-${slug}`}>{title}</h1>
        <p class="pointer-events-none block font-medium text-gray-500" transition:name={`blog-date-${slug}`}>
          <FormattedDate date={date} />
        </p>
      </div>
  </div>
</div>
