---
import FormattedDate from "../shared/FormattedDate.astro";

export interface Props {
    image?: string;
    title: string;
    slug: string;
    date: Date;
}

const { image, title, date, slug } = Astro.props;
---

<div class="w-full">
    {
        image && (
            <img
                class="h-32 w-full object-cover lg:h-52 rounded-none"
                src={image}
                alt={title}
                transition:name={`blog-image-${slug}`}
                transition:animate="initial"
            />
        )
    }

    <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:px-8 pt-5">
        <div class="min-w-0 flex-1 text-center">
            <h1
                class="line-clamp-3 text-4xl font-bold text-gray-900 py-1"
                transition:name={`blog-title-${slug}`}
                transition:animate="initial"
            >
                {title}
            </h1>
            <p
                class="pointer-events-none block font-medium text-gray-500"
                transition:name={`blog-date-${slug}`}
                transition:animateF="initial"
            >
                <FormattedDate date={date} />
            </p>
        </div>
    </div>
</div>
