---
import type { CollectionEntry } from "astro:content";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import BlogpostHeader from "../components/blog/BlogpostHeader.astro";
import Separator from "../components/shared/Separator.astro";

export interface Props {
    slug: CollectionEntry<"blog">["slug"];
    data: CollectionEntry<"blog">["data"];
}

const { slug, data } = Astro.props;
const { title, description, pubDate, updatedDate, heroImage, excerpt } = data;
---

<DefaultLayout fullWidth={true} title={`yayu.dev | ${title}`}>
    <style slot="head-styles"></style>

    <BlogpostHeader
        title={title}
        image={heroImage}
        slug={slug}
        date={pubDate}
    />

    <Separator />

    <main
        class="flex-grow flex flex-col items-center w-full max-w-3xl mx-auto py-6"
    >
        <article class="w-full">
            <slot />
        </article>
    </main>
</DefaultLayout>
